@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
 --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables fin */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  
}

/* --Barra de navegacion-- */
ul {
  list-style-type: none;
}

nav {
    width: 100%;
    display: flex;
    align-items:center;
    padding: 1.5rem 3.5rem;
    background-color: #da8;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  
  
  nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: var(--transicion);
    
  }
  nav a:hover {
    color: rgb(107, 32, 32);
    border-bottom: 2px solid rgb(107, 32, 32);
  }
  
  nav ul {
    display:flex;
    
    gap: 1.9rem;
   }
  
  

  .menu-hamburguesa {
    color: rgb(107, 32, 32);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  /* -- encabezado-- */
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin: auto;
  }
  .fondo-header {
    height: 37.5rem;
    width: 100%;
  }
  .imagen{
    
    position: absolute;
    justify-content: center;
    height: 50vh;
   margin-top: 220px;
  }
  .titulo-header{
    position:absolute;
    color:white;
    margin-top: -23rem;
    font-size: 45px;
    text-shadow: 0 3px 5px black;
  }
 .subtitulo{
  position:absolute;
    color:white;
    margin-top: -18rem;
    font-size: 25px;
    text-shadow: 0 3px 5px black;
 }
 
  /* -- sobre mi -- */
  .mas-sobre {
    background: rgb(220,219,233);
    background: linear-gradient(180deg, rgba(220,219,233,1) 0%, rgba(236,236,236,1) 24%);
    color: black;
    font-size: 15px;
    padding: 1rem 6rem;
  }
  
.bio{
  justify-content: center;
  text-align: center;
}
  
  .mas-sobre p {
    line-height: var(--line-height);
    padding: 0.4rem;
    text-align: center;
  }

  /* --Habilidades-- */
  .habilidades {
    
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .encabezado-habilidad {
    margin-bottom: 1rem;
  }
  
  .contenedor-habilidad img {
    padding: 1.25rem;
    
  }
  
  .icono {
    width: 11.875rem;
    height: 11.25rem;
  }
  .icon-card {
    background: rgb(193,151,124);
    background: linear-gradient(180deg, rgba(193,151,124,1) 0%, rgba(221,170,136,1) 43%, rgba(247,245,243,1) 100%);
    border-radius: 11px;
    box-shadow: 0 3px 10px #da8;
    padding: 20px;
    margin: 10px;
  }

  /*-- estudios --*/
  .estudios {
    
    background: rgb(220,219,233);
    background: linear-gradient(180deg, rgba(220,219,233,1) 0%, rgba(236,236,236,1) 24%);
    padding: 32px 0;
    margin-top: 2rem;
  }
  .estudios h2{
    color: #fcfcfc;
    font-size: 35px;
    text-shadow: 1px 1px 2px black;
  }
  
  .estudios-img {
    width: 65%;
    height: 60%;
  }
  
  .contenedor-estudios {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .estudios-titulo {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .contenedor-estudios-secundario {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .contenedor-de-proyecto p {
    padding: 0.4rem;
  }
  
  .detalles-estudio {
    margin-bottom: var(--bottom-margin);
  }
  
  .estudios-cuadro {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

  /* -- Contacto -- */

  .contacto {
    margin-top: 2rem;
  }
  
  .contacto h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  
  .contenedor-formulario-contacto {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px grey;
  }

  .contenedor-formulario-contacto label {
    line-height: 2.7em;
    font-weight: bold;
    color: black;
  }
  
  .contenedor-formulario-contacto textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contenedor-formulario-contacto .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset #da8;
    font-size: 0.875rem;
    outline: none;
  }

  .input-field::placeholder {
    
    color: grey;
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid #da8;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: var(--transition);
  }

  .submit-btn:hover {
    background-color: #da8;
    border: 2px solid #ff7235;
    cursor: pointer;
  }

  /* --sociales-- */

  .sociales {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
  }
  
  .socicon {
    width: 50px;
    height: 50px;
  }

  /* --footer-- */

  footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }

  /** --volver arriba */

  .desplazarse-hacia-arriba {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .flecha-arriba {
    width: 3rem;
    height: 3rem;
  }

  /** responsive*/
  
  @media screen and (max-width: 720px) {
    
    nav {
      width: 100%;
      display: flex;
      align-items:center;
      padding: 1.5rem 3.5rem;
      background-color: #da8;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      }
    nav a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: var(--transicion);
      
    }
    nav a:hover {
      color: rgb(107, 32, 32);
      border-bottom: 2px solid rgb(107, 32, 32);
    }
    
    nav ul {
      display:flex;
      gap: 1.9rem;
      margin-top: -35px;
      margin-left: 30px;
      z-index: 1;
     }
    .menu-hamburguesa {
      display: block;
    }
  
    /* -- encabezado-- */
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      margin-top: -70px;
      height: 60vh;
    }
    .fondo-header {
     height: 37.5rem;
      width: 30rem;
    }
    .imagen{
      justify-content: center;
      height: 50vh;
     margin-bottom: -50px;
    }
    .titulo-header{
      color:white;
      margin-top: -26rem;
      font-size:30px;
      text-shadow: 0 3px 5px black;
    }
   .subtitulo{
    position:absolute;
      color:white;
      margin-top: -21rem;
      font-size: 22px;
      text-shadow: 0 3px 5px black;
   }
   
    /* -- sobre mi -- */
    .mas-sobre {
      background: rgb(220,219,233);
      background: linear-gradient(180deg, rgba(220,219,233,1) 0%, rgba(236,236,236,1) 24%);
      color: black;
      font-size: 15px;
      padding: 1rem 6rem;
      position: relative;
      
    }
    
    .bio{
    justify-content: center;
    text-align: center;
    margin-left: 60px;
    }
    
    .mas-sobre p {
      
      line-height: var(--line-height);
      padding: 0.4rem;
      text-align: center;
    }
  
    
    
  

    /* habilidades */

    .icono {
        width: 5.875rem;
        height: 5.25rem;
      }

    /* estudios */

    .contenedor-estudios {
        flex-direction: column;
      }
    
      .contenedor-estudios-secundario {
        width: 20.875rem;
      }

    /* formulario  */

    .contenedor-formulario-contacto {
        max-width: 23.75rem;
      }
  }

  @media screen and (max-width: 420px) {
     /*-- menu --*/
         
    nav {
      width: 100%;
      display: flex;
      align-items:center;
      padding: 1.5rem 3.5rem;
      background-color: #da8;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      }
    nav a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: var(--transicion);
      
    }
    nav a:hover {
      color: rgb(107, 32, 32);
      border-bottom: 2px solid rgb(107, 32, 32);
    }
    
    nav ul {
      position: fixed;
      background-color: #da8;
      flex-direction: column;
      top: 86px;
      left: 10%;
      width: 80%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;
    }
  
     nav ul li {
      margin: 8px;
    }
     .menu-hamburguesa {
      display: block;
    }
  
    nav ul.show {
      transform: translateX(0);
    }
  
    /* -- encabezado-- */
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      margin-top: -70px;
      height: 60vh;
    }
    .fondo-header {
     height: 37.5rem;
      width: 30rem;
    }
    .imagen{
      justify-content: center;
      width: 20em;
      
    }
    .titulo-header{
      position: absolute;
      top:500px;
      color:white;
      margin-top: 30px;
      font-size:30px;
      text-shadow: 0 3px 5px black;
    }
   .subtitulo{
    position:absolute;
      color:white;
      top:470px;
      margin-top: -21rem;
      font-size: 22px;
      text-shadow: 0 3px 5px black;
   }
   
    /* -- sobre mi -- */
    .mas-sobre {
      background: rgb(220,219,233);
      background: linear-gradient(180deg, rgba(220,219,233,1) 0%, rgba(236,236,236,1) 24%);
      color: black;
      font-size: 15px;
      padding: 1rem 6rem;
      position: relative;
      align-items: center;
      
    }
    
    .bio{
    justify-content: center;
    text-align: center;
    margin-left: 80px;
    }
    
    .mas-sobre p {
      
      line-height: var(--line-height);
      padding: 0.4rem;
      text-align: center;
    }
  
    
    
  

    /* habilidades */

    .icono {
        width: 5.875rem;
        height: 5.25rem;
      }

    /* estudios */

    .contenedor-estudios {
        flex-direction: column;
      }
    
      .contenedor-estudios-secundario {
        width: 20.875rem;
      }

    /* formulario  */

    .contenedor-formulario-contacto {
        max-width: 23.75rem;
      }
  }

  
  @media screen and (max-width: 920px) {
    /*-- menu --*/
   
    nav a {
      text-decoration: none;
      color: rgb(9, 8, 8);
      font-size: 20px;
      transition: var(--transicion);
      
    }
    nav a:hover {
      color: rgb(107, 32, 32);
      border-bottom: 2px solid rgb(107, 32, 32);
    }
    
    nav ul {
      display:flex;
      gap: 1.9rem;
      margin-top: -20px;
      margin-left: 100px;
      z-index: 1;
     }
    
  
    /* -- encabezado-- */
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      margin-top: 30px;
      height: 60vh;
    }
    .fondo-header {
     height: 37.5rem;
      width: 100%;
    }
    .imagen{
      justify-content: center;
      height: 60vh;
     margin-bottom: 100px;
    }
    .titulo-header{
      color:white;
      margin-top: -400px;
      font-size:30px;
      text-shadow: 0 3px 5px black;
    }
   .subtitulo{
    position:absolute;
      color:white;
      margin-top: -21rem;
      font-size: 22px;
      text-shadow: 0 3px 5px black;
   }
   
    /* -- sobre mi -- */
    .mas-sobre {
      background: rgb(220,219,233);
      background: linear-gradient(180deg, rgba(220,219,233,1) 0%, rgba(236,236,236,1) 24%);
      color: black;
      font-size: 15px;
      padding: 1rem 6rem;
      position: relative;
      
    }
    
    .bio{
    justify-content: center;
    text-align: center;
    margin-left: 60px;
    }
    
    .mas-sobre p {
      
      line-height: var(--line-height);
      padding: 0.4rem;
      text-align: center;
    }
  
    
    
  

    /* habilidades */

    .icono {
        width: 5.875rem;
        height: 5.25rem;
      }

    /* estudios */

    .contenedor-estudios {
        flex-direction: column;
      }
    
      .contenedor-estudios-secundario {
        width: 20.875rem;
      }

    /* formulario  */

    .contenedor-formulario-contacto {
        max-width: 23.75rem;
      }
  }
  